.form {
  margin-top: 50%;
  width: 80%;
  margin-left: 10%;
}

.input {
  width: 45%;
  padding: 2vw;
}

.select {
  width: 40%;
  border: 1px solid #add8e6;
  background-color: white;
  padding: 2vw;
}

.button {
  padding: 2vw;
}
