.login {
  width: 80%;
  height: 50vw;
  margin-left: 10%;
  margin-top: 40%;
  border-radius: 2.5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #add8e6;
}

input {
  margin-bottom: 2.5vw;
  padding: 2.5vw;
  width: 80%;
  margin-left: 6%;
  border: 0.25vw solid #add8e6;
  font-size: 17px;
}

button {
  padding: 2.5vw;
  width: 50%;
  margin-left: 25%;
  background-color: #40b5e8;
  border: none;
  color: white;
  border-radius: 0.5vw;
  font-size: 4.25vw;
}

@media screen and (min-width: 768px) {
  .login {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    margin-top: 250px;
  }

  button {
    padding: 12px;
    font-size: 25px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  ::placeholder {
    font-size: 25px;
    opacity: 0.5;
  }

  .input {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 25px;
  }
}
