.nav{
width: 100%;
position: fixed;
left: 0;
top:0;
height: 17.5vw;
background-color: #40B5E8;
margin-bottom: 5vw;
text-align: center;
box-sizing: border-box;
padding-top: 7.5vw;
color: white;
font-size: 6.25vw;
}